.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store

## Python 
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl
*.manifest
*.spec
*.venv/

## Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

## Mkdocs
site/
docs/_build/

## nextjs
.next/